# -*- coding: utf8 -*-

# Development
PORT = 3000

# Production
# ENV = 'production'
# SERVER_NAME = 'example.com'

# Database URI
SQLALCHEMY_DATABASE_URI = 'postgresql://pywa:tester@localhost/pywa'

# Database slave configuration
# SQLALCHEMY_BINDS = {
#     'slave': 'postgresql://user:password@server/db'
# }

# The agent responsible for generating the serialization of the Annotations.
# GENERATOR = 'http://example.org/client1'

# Require strict slashes at the end of all API endpoints (default False)
# STRICT_SLASHES = False

#	The URL scheme that should be used for URL generation if no URL scheme is
# available (default 'http').
# PREFERRED_URL_SCHEME = 'http'

# The number of Annotations to display per page (default 1000)
# ANNOTATIONS_PER_PAGE = 1000
