# -*- coding: utf8 -*-

# Development
PORT = 3000

# Production
# ENV = 'production'
# SERVER_NAME = 'example.com'

# Database URI
SQLALCHEMY_DATABASE_URI = 'postgresql://pywa:tester@localhost/pywa'

# Database slave configuration
# SQLALCHEMY_BINDS = {
#     'slave': 'postgresql://user:password@server/db'
# }
