# -*- coding: utf8 -*-

# Development
PORT = 3000

# ** IMPORTANT: Uncomment the lines below in production **
# ENV = 'production'
# SERVER_NAME = 'example.com'

# Database URI
SQLALCHEMY_DATABASE_URI = 'postgresql://explicates:tester@localhost/explicates'

# Database slave configuration
# SQLALCHEMY_BINDS = {
#     'slave': 'postgresql://user:password@server/db'
# }

# The agent responsible for generating the serialization of the Annotations.
# See https://www.w3.org/TR/annotation-model/
# GENERATOR = 'http://example.org/client1'

# Require strict slashes at the end of all API endpoints (default False)
# STRICT_SLASHES = False

# The number of Annotations to display per page (default 1000)
# ANNOTATIONS_PER_PAGE = 1000

# CORS settings (defaults below)
# See https://flask-cors.readthedocs.io/en/latest/
# CORS_RESOURCES = {
#     r"/*": {
#         "origins": "*",
#         "allow_headers": [
#             'Content-Type',
#             'Content-Length',
#             'Authorization',
#             'If-Match',
#             'Prefer',
#             'Accept',
#             'Slug'
#         ],
#         "max_age": 21600,
#         "supports_credentials": True
#     }
# }

# Full-text search default language
# FTS_DEFAULT = 'english'

# Full-text search map of available PostgreSQL dictionaries
# FTS_LANGUAGE_MAP = {
#     'da': 'danish',
#     'nl': 'dutch',
#     'fi': 'finnish',
#     'fr': 'french',
#     'de': 'german',
#     'hu': 'hungarian',
#     'it': 'italian',
#     'no': 'norwegian',
#     'pt': 'portuguese',
#     'ro': 'romanian',
#     'ru': 'russian',
#     'es': 'spanish',
#     'sv': 'swedish',
#     'tr': 'turkish',
#     'en': 'english'
# }
